{
    "DEBUG": false,
    "TEMPLATE_DEBUG": false,
    "SIEVE_SERVER": "bornite.isotoma.com",
    "ADMINS": [
        ["Webmaster", "webmaster@isotoma.com"]
        ],
    "ALLOWED_HOSTS": [
        "vacation.isotoma.com"
    ],
    "SECRET_KEY": "sdsdsdsdsd",
    "GUNICORN": {
        "user": "daemon",
        "logdir": "/var/log/holidaymsgr",
        "port": "999999"
    },
    "WEBSERVER" :{
        "server_name": "vacation.isotoma.com",
        "access_log": "/var/log/apache2/vacation.isotoma.com.access_log",
        "error_log": "/var/log/apache2/vacation.isotoma.com.error_log",
        "ssl": {
            "cert": "/etc/ssl/certs/isotoma.com.crt",
            "key": "/etc/ssl/private/isotoma.com.key",
            "chain": "/etc/ssl/certs/isotoma.com.crt.chain"
        }
    }
}
